.success {
  &__subheader {
    margin: 5px 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    color: #4c4c4c;
  }

  &__cript {
    margin-top: 24px;
    padding: 22px 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    color: #fff;
    background-color: #d89553;

    transition: all 0.3s ease;

    &:active {
      background-color: #fff;
      color: #d89553;
    }
  }

  &__final {
    margin: 0;
    width: 100%;
    justify-content: center;
  }
}
