.header {
  &__buttons {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
  }

  &__close {
  position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: white;
  }
}

.hide {
  visibility: hidden;
}
