.form {
  color: #4c4c4c;
  &__autocomplete {
    margin-bottom: 24px;
    padding: 0;
    width: 100% !important;

    &:focus-visible {
      outline: none;
    }

      div {

        &:focus-visible {
          outline: none;
        }

        label {
          // color: #1976d2;
          color: #8a94ae;
        }

        div {
          padding: 0 !important;
          border-radius: 16px;
          // overflow: hidden;
          border: none;
          font-family: inherit;
          // font-size: 16px;
          // font-weight: 500;
          // letter-spacing: normal;
          // color: #202329;

          &:focus-visible {
            outline: none;
            border: none !important;
          }

          &:hover {
            border: none !important;
            outline: none;
          }

          input {
            padding: 14px 16px !important;
            border-radius: 16px;
            background-color: #f0f2f7;
            border: 2px solid #f0f2f7;

            font-family: inherit;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: normal;
            color: #202329;

            &:focus-visible {
              background-color: #fff;
              border: 2px solid #f0f2f7;
              outline: none;
            }
          }
        }
      }
    }
  &__subheader {
    margin: 5px 0 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(---secondaryFontFamily);
    font-weight: 500;
    font-size: 14px;
  }

  &__icon {
    margin-right: 8px;
  }

  &__section {
    position: relative;
  }

  &__label {
    margin-bottom: 4px;
    display: block;
    text-align: left;
    font-family: var(---secondaryFontFamily);
    font-size: 12px;
    font-weight: 700;
  }

  &__input {
    margin-bottom: 24px;
    padding: 14px 16px;
    width: 100%;
    border-radius: 16px;
    background-color: #f0f2f7;
    border: 2px solid #f0f2f7;
    font-size: 16px;
    color: #202329;

    &:active {
      background-color: #fff;
    }

    &:focus-visible {
      outline: none;
      background-color: #fff;
      border: 2px solid #d89553;
    }

    &:-webkit-input-placeholder {
      color: #8a94ae;
      font-size: 16px;
    }

    &::-moz-placeholder {
      color: #8a94ae;
      font-size: 16px;
    }

    &:-ms-input-placeholder {
      color: #8a94ae;
      font-size: 16px;
    }
  }

  &__submit {
    margin-top: 24px;
    padding: 22px 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #d89553;

    transition: all 0.3s ease;

    &:active {
      background-color: #fff;
      color: #d89553;
    }
  }
}

.error {
  &__message {
    position: absolute;
    top: 80%;
    left: 5px;
    font-size: 10px;
    color: #ff0000;
  }
}
