
.withdrawal {
  margin: 0 auto;
  padding: 10px 16px 16px;
  width: 96%;
  max-width: 450px;
  background-color: #fff;
  color: #4c4c4c;
  border-radius: 24px 24px 0 0;

  &__subheader {
    margin: 5px 0 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    color: #4c4c4c;
  }

  &__address-subheader {
    margin: 44px 0 12px;
    justify-content: start;
    font-family: var(---secondaryFontFamily);
  }

  &__section {
    margin: 44px 0 12px;
    position: relative;
  }

  &__label {
    margin-bottom: 4px;
    display: block;
    text-align: left;
    font-size: 12px;
    font-weight: 700;
    color: #4c4c4c;
  }

  &__input {
    margin-bottom: 24px;
    padding: 14px 16px;
    width: 100%;
    border-radius: 16px;
    background-color: #f0f2f7;
    border: 2px solid #f0f2f7;
    font-size: 16px;
    color: #202329;

    &:active {
      background-color: #fff;
    }

    &:focus-visible {
      outline: none;
      background-color: #fff;
      border: 2px solid #d89553;
    }

    &:-webkit-input-placeholder {
      color: #8a94ae;
      font-size: 16px;
    }

    &::-moz-placeholder {
      color: #8a94ae;
      font-size: 16px;
    }

    &:-ms-input-placeholder {
      color: #8a94ae;
      font-size: 16px;
    }
  }

  &__address {
    margin-bottom: 32px;
    width: 100%;
    font-family: var(---secondaryFontFamily);
    font-weight: 500;
    font-size: 10px;

    p {
      padding: 14px 16px;
      display: flex;
      gap: 5px;
      justify-content: space-between;
      align-items: center;
      border-radius: 35px;
      color: #5a5f72;
      background-color: #c3c3c3;

      span {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      button {
        padding: 8px;
        background: center / cover url('../../assets/icons/copy-dark.svg');

        transition: all 0.3s ease;

        &:active {
          background: center / cover url('../../assets/icons/copy-light.svg');
        }
      }
    }
  }

  &__info {
    margin: 30px 0 0;
    justify-content: start;
    align-items: start;

    p {
      padding-left: 8px;
      text-align: justify;
    }
  }

  &__loader {
    animation: loading 3s linear infinite;
  }
}

.error {
  &__message {
    position: absolute;
    top: 80%;
    left: 5px;
    font-size: 10px;
    color: #ff0000;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
